.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.ContactInfo {
  flex: 1;
}

.InputsContainer {
  flex: 2;
}

.DoubleInputs {
  display: flex;
}

.DoubleInputs input {
  flex: 1;
  margin-right: 10px;
}

.InputsContainer input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

/* Adicione estilos adicionais conforme necessário */

